<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aila.db.MemberMapper">
<select id="login" parameterType="Company" resultType="Company">
	SELECT * FROM company_info WHERE company_key = #{company_key}
</select>

</mapper>