<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="com/aila/db/db.properties"></properties>

<typeAliases>
		<typeAlias type="com.aila.model.CompanyVO" alias="Company"/>
		<typeAlias type="com.aila.model.ReviewVO" alias="Review"/>
		<typeAlias type="com.aila.model.FoodVO" alias="Food"/>
		<typeAlias type="com.aila.model.NewsVO" alias="News"/>
		<typeAlias type="com.aila.model.DeepAnalysis" alias="DeepAnalysis"/>
		<typeAlias type="com.aila.model.RelatedSearchVO" alias="RelatedSearch"/>
		<typeAlias type="com.aila.model.TrendVO" alias="Trend"/>
		<typeAlias type="com.aila.model.Frequency_cntVO" alias="FC_VO"/>
		<typeAlias type="com.aila.model.TopicVO" alias="TopicVO"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/aila/db/MemberMapper.xml"></mapper>
		<mapper resource="com/aila/db/TrendMapper.xml"></mapper>
		<mapper resource="com/aila/db/ResultMapper.xml"></mapper>
		<mapper resource="com/aila/db/NewsMapper.xml"></mapper>
		<mapper resource="com/aila/db/ReviewMapper.xml"></mapper>
	</mappers>
</configuration>